.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  justify-content: center;
}

@media (max-width: 640px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
