.notes {
  min-height: 5rem;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  width: 100%;
  color: white;
  font-size: bold;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  text-align: center;
  line-height: 2rem;
}

.nav-item:hover {
  color: black;
}
