.container {
  height: 100%;
  background: var(--dark-grey-gradient);
  width: 100%;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  width: 100%;
}

.date {
  font-size: 1.5rem;
  font-weight: bold;
}

.year {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.time-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-green-gradient);
  border-radius: 5px;
  color: white;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
}

@media (max-width: 380px) {
  .date {
    font-size: 1.2rem;
  }

  .time-block {
    font-size: 1.5rem;
  }

  .inner-container {
    width: 100%;
  }
}
