.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 80%;
}

.label {
  font-weight: bold;
  padding: 0.5rem;
  width: 80%;
  text-align: center;
  background-color: var(--dark-grey);
  font-size: 1.5rem;
  color: white;
  border-radius: 5px 5px 0 0;
}

.description {
  height: 6rem;
  border: 1px solid rgb(0, 0, 0, 0.5);
  width: 80%;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 5px 5px;
  font-size: 1.2rem;
}

.title {
  border: 1px solid rgb(0, 0, 0, 0.5);
  box-shadow: var(--box-shadow);
  border-radius: 0 0 5px 5px;
  width: 80%;
  height: 3rem;
  font-size: 1.5rem;
}

.deadline {
  font-weight: bold;
  padding: 0.5rem;
  width: 80%;
  text-align: center;
  background-color: var(--dark-grey);
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
}
