.container {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid;
  border-radius: 10px;
  background: white;
  width: fit-content;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}

.description {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  height: 5rem;
}

.error {
  color: red;
}

.cancel {
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  color: red;
}

/* CSS TRANSITIONS */
.dashboard-primary-enter {
  transform: translateX(200%);
}
.dashboard-primary-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease-in;
}
.dashboard-primary-exit {
  position: absolute;
}

.dashboard-primary-exit-active {
  transform: translateX(-200%);
  transition: all 300ms ease-in;
}

.dashboard-secondary-enter {
  transform: translateX(-200%);
}
.dashboard-secondary-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease-in;
}
.dashboard-secondary-exit {
  position: absolute;
}
.dashboard-secondary-exit-active {
  transform: translateX(200%);
  transition: all 300ms ease-in;
}

/* Media queries */

@media (max-width: 470px) {
  .label {
    font-size: 1rem;
    padding: 0 0.5rem 0 0.5rem;
  }
}
