.container {
  border: 1px solid;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
  height: 86vh;
}

.tasks {
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 800px;
  height: 100%;
  overflow: scroll;
  padding: 1rem;
  border-radius: 5px;
  background: var(--light-grey-gradient);
}

.tasks::-webkit-scrollbar {
  display: none;
}

.title {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: 1fr;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #b5e8f5;
}

.list {
  padding: 0;
  border: 1px solid black;
}

.sorting {
  padding-bottom: 1rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: #c2fafa;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--orange);
  color: white;
}

.button:focus {
  background-color: teal;
  color: white;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 5px;
}

.add-task {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 50%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-task:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .button {
    padding: 0.5rem;
  }

  .tasks {
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .container {
    padding: 0;
  }
}
