.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.block {
  margin: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--off-white);
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.block-hover:hover {
  cursor: pointer;
  border: 1px solid;
  background: var(--light-orange-gradient);
}

.block-hover:hover:disabled {
  cursor: not-allowed;
  background: var(--off-white);
}

.block-hover:hover:disabled .tooltip {
  visibility: visible;
}

.title {
  padding: 0.5rem;
  font-size: var(--subtitle);
  font-weight: bolder;
}

.total {
  padding: 0.5rem;
  font-size: var(--title);
}

.view {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid rgb(0, 0, 0, 0);
}

.tooltip {
  visibility: hidden;
  background-color: darkslategrey;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .header {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1rem;
  }

  .block {
    padding: 0;
  }

  .total {
    padding: 0;
  }

  .events {
    max-height: 300px;
  }
}
