.star {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Slide_In 1000ms ease;
}

@keyframes Slide_In {
  0% {
    transform: translatex(-300px);
  }

  100% {
    transform: translateY(0);
  }
}
