.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--darker-box-shadow);
  padding: 3rem;
  background: var(--light-grey-gradient);
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: var(--header);
  margin: 1rem;
}

.settings-container {
  width: fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.settings {
  box-shadow: var(--box-shadow);
  width: fit-content;
}

.settings:hover {
  background: rgb(35, 35, 189);
  box-shadow: var(--darker-box-shadow);
}
