.background {
  background: var(--light-red-gradient);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.container {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}

.sub-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .sub-container {
    flex-direction: column;
  }
}
