.container {
  display: flex;
  min-height: 500px;
  gap: 0.5rem;
  height: 500px;
}
.calendar {
  align-self: center;
}

.events {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--off-white);
}

.title {
  font-size: 2.5rem;
  padding: 0.25rem 2rem 0.25rem 2rem;
  background-color: var(--light-blue);
  color: white;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.date {
  font-size: 2rem;
  color: var(--dark-grey);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

@media (max-width: 850px) {
  .container {
    font-size: 1.5rem;
    flex-direction: column;
    height: fit-content;
    margin: 0.5rem;
  }

  .events {
    max-height: 500px;
    padding: 0.5rem;
  }

  .title {
    font-size: 2rem;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .events {
    max-height: 500px;
    padding: 0;
  }
}

@media (max-width: 380px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .title {
    margin-bottom: 0;
  }

  .title {
    font-size: 1.5rem;
  }

  .date {
    font-size: 1rem;
  }

  .events {
    max-height: 300px;
  }
}
