.note {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-grey);
  background: var(--blue-gradient);
  justify-content: center;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  animation: Slide_Up 400ms ease;
}

.description {
  position: relative;
  font-size: 1.2rem;
  color: var(--dark-grey);
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  padding: 0.5rem;
  min-height: 5rem;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.33rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

.button-box {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.button {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  border: none;
  box-shadow: var(--button-box-shadow);
  padding: 0.25rem 1rem 0.25rem 1rem;
  color: var(--dark-grey);
  font-weight: 800;
  border-radius: 5px;
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
}

.error {
  font-size: 1.4rem;
  font-weight: bolder;
  color: red;
}

/* CREATE A NOTE */

.create {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.green {
  background: var(--light-green-gradient);
  border: 1px solid green;
}

@keyframes Slide_Up {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}
