.main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  overflow: scroll;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .main-container {
    padding: 0.5rem;
  }
}
