:root {
  --light-grey: #a8a7a7;
  --dark-grey: #242526;
  --off-white: #dbdbdb;
  --green: #89c569;
  --dark-green: #276009;
  --light-blue-gradient: linear-gradient(to right, #e9f8ff, #90b2d8, #c1e3ff);
  --speed: 500ms;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --darker-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  --inset-box-shadow: inset 0 0 10px;
}

.container {
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
  gap: 1rem;
}

.container::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 1rem;
  text-decoration: underline;
}
