.title {
  text-align: center;
  padding: 2rem 0 1rem 0;
  margin: 2rem;
  border-bottom: 1px dashed;
}

.title-container {
  display: flex;
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.password {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.password-container {
  display: flex;
}

.label {
  font-weight: bold;
}

.submit {
  padding: 1rem;
  background-color: var(--green);
  border: 1px solid;
  color: var(--dark-grey);
  box-shadow: var(--box-shadow);
}

.submit:hover {
  cursor: pointer;
}
