.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.input-field {
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: hidden;
  outline: none;
  font-size: 18px;
  text-indent: 2px;
  padding: 5px;
}

.input-field span {
  cursor: pointer;
}

.input-field-error {
  background-color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.input-field-error input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: hidden;
  outline: none;
  font-size: 18px;
  text-indent: 2px;
  padding: 5px;
}

.input-field-error span {
  cursor: pointer;
}
