.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.loading {
  background-color: var(--light-grey);
  color: black;
  width: 100%;
}

.error {
  width: 100%;
  border: 1px solid white;
  color: red;
}

.guest-notification {
  text-align: center;
  font-weight: bold;
  background-color: #3aba45;
  padding: 0.5rem 1rem;
  color: black;
  font-size: var(--subtitle) !important;
  box-shadow: var(--darker-box-shadow);
}
