.right {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.right:hover {
  color: var(--orange);
  cursor: pointer;
}

.save {
  color: green;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.save:hover {
  stroke: black;
  stroke-width: 0.5;
  color: var(--green);
  cursor: pointer;
}

.left {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.left:hover {
  color: var(--orange);
  cursor: pointer;
}
