.block {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: inherit;
  height: 100%;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: var(--button-box-shadow);
}

.title {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

.value {
  padding: 0.5rem;
  font-size: 1.4rem;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  .block {
    padding: 0.25rem;
  }

  .title {
    font-size: 1rem;
    margin: 0;
  }

  .value {
    padding: 0;
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  .title {
    padding: 0.25rem;

    font-size: 1rem;
  }

  .value {
    font-size: 1rem;
  }
}
