.dashboard-primary-enter {
  transform: translateX(-200%);
}
.dashboard-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.dashboard-primary-exit {
  position: absolute;
}
.dashboard-primary-exit-active {
  transform: translateX(-200%);
  transition: all var(--speed) ease;
}

.dashboard-secondary-enter {
  transform: translateX(200%);
}
.dashboard-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.dashboard-secondary-exit {
}
.dashboard-secondary-exit-active {
  transform: translateX(200%);
  transition: all var(--speed) ease;
}
