.main {
  height: 100vh;
  background-color: lightblue;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem;
}

.layout {
  display: grid;
}

@media only screen and (max-width: 870px) {
  .main {
    grid-template-columns: 1fr;
  }
}
