.main {
  background: lightblue;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  padding: 2rem;
}

.chart-container {
  box-shadow: var(--box-shadow);
  margin: 1rem;
  color: rgb(44, 43, 43);
  text-align: center;
  width: auto;
  justify-content: center;
}

.rating-container {
  box-shadow: var(--box-shadow);
  margin: 1rem;
  color: rgb(44, 43, 43);
  text-align: center;
  width: auto;
  /* justify-content: center;
  display: flex; */
}

.layout {
  display: grid;
}

.box {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  background: var(--light-grey-gradient);
  color: #22313d;
}

.tasks {
  display: flex;
  flex-direction: column;
  background: var(--light-grey-gradient);
  box-shadow: var(--box-shadow);
}

@media (max-width: 870px) {
  .main {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .box {
    padding: 0.5rem;
    color: black;
  }

  .box h2 {
    font-size: 1.4rem;
  }
}
